.btn {
  &-accept {
    background-color: #70D24E;
    padding: 7px 54px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 0 0 15px;
    cursor: pointer;
    transition-duration: 0.1s;
    &:hover {
      box-shadow: 0px 5px 20px rgba(86, 86, 86, 0.1);
    }
  }
  &-cancel {
    background: none;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    color: #2C323A;
    cursor: pointer;
    &:hover {
      border-color: #70D24E;
    }
  }
}