
.slider {
  height: 2px !important;
  &-tooltip {
    display: none !important;
  }
}
.vue-range-slider.slider-component.slider-horizontal .slider-dot {
  top: -9px !important;
  width: 16px !important;
  height: 16px !important;
}
.vue-range-slider.slider-component .slider .slider-process {
  background-color: #70D24E !important;
}
.vue-range-slider.slider-component .slider .slider-dot {
  background-color: #70D24E !important;
  border: 4px solid #fff;
  width: 20px !important;
  height: 20px !important;
}
.custom-checkbox {
  display: none;
  &:checked~section {
    color: #fff;
  }
  &:checked~span {
    position: absolute;
    top: 0;
    width: 101%;
    height: 100%;
    border-radius: 4px;
    z-index: 0;
    background-color: #70D24E;
  }
}